.line {
    border-bottom: 2px solid #ccc;
    display: block;
}

.spoilerBlockerTitle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(0, 0, 0, 0.863);
}

.crx_mouse_visited {
  background-color: #f9ffa4 !important;
  outline: 1px solid #6b6b6b !important;
}

.isSpoiler {
  width: 100%;
  height: 100%;
  padding: 50px;
  border: 5px solid red;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(0, 0, 0, 0.863);
}

.showButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}